	<ul class="main-menu nav nav-sidebar">
		<li>
            <a href="#"><span class="glyphicon glyphicon-tint"></span> Sites</a>
        </li>
      <!--<ul class="sub-menu">-->
        <!--<li class="active"><a href="">Overview</a></li>-->
        <!--<li><a href="">Custom filter</a></li>-->
        <!--<li><a href="">Create new user</a></li>-->
      <!--</ul>-->
		<!--</li>-->
		<!--<li><a href="#"><span class="glyphicon glyphicon-font"></span> Font</a></li>-->
		<!--<li class="active"><a href="#"><span class="glyphicon glyphicon-th-large"></span> Widgets</a>-->
			<!--<ul class="sub-menu">-->
				<!--<li class="active"><a href="">Media</a></li>-->
				<!--<li><a href="">Title</a></li>-->
				<!--<li><a href="">Text Boxes</a></li>-->
			<!--</ul>-->
		<!--</li>-->
		<!--<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>-->
		<!--<li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Contents</a></li>-->
	</ul>
