    <h3>Sites Management <span class="pull-right"><button class="btn btn-xs btn-primary" style="font">Add a website</button></span></h3>
    <hr/>
    <ul>
        <% _.each(sites, function (site) { %>
            <li><a href="http://localhost:1337/sites/scramb?site=<%= site.id %>"><%= site.name %> - <%= site.url %></a></li>
        <% }) %>
    </ul>

    <div class="main">

    </div>
